<script setup lang="ts">
import { ref } from "vue"
// import { useField, useFieldGroup } from "./lib"

const model = ref()

const one = ref({ test: 42 })
</script>

<template>
	<form action="" @submit.prevent>
		<pre>TEST : {{ model }}</pre>

		<label> ooooo <input v-model="model" value="THE" :true-value="42" :false-value="'str'" type="checkbox" /> </label>
		<label> one <input v-model="model" :value="one" type="checkbox" /> </label>
		<label> two <input v-model="model" value="two" type="checkbox" /> </label>
		<label> null <input v-model="model" :value="null" type="checkbox" /> </label>
		<label> undefined <input v-model="model" :value="undefined" type="checkbox" /> </label>
	</form>
</template>
