<script setup lang="ts">
import { ref, watch, computed } from "vue"
import { useField } from "./lib"

const props = defineProps({
	modelValue: {
		type: Number,
	},
	dirty: {
		type: Boolean,
		default: false,
	},
})
const emit = defineEmits<{
	(event: "update:modelValue", modelValue: number | undefined): void
	(event: "update:dirty", dirty: boolean): void
}>()

const model = computed({
	get() {
		return props.modelValue
	},
	set(v: number | undefined) {
		emit("update:modelValue", v)
	},
})

const field = ref()
const { dirty } = useField({ field, model })
defineExpose({ dirty })

watch(dirty, v => {
	emit("update:dirty", v!)
})
</script>

<template>
	<input ref="field" type="number" v-model="model" v-bind="$attrs" />
</template>
